<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    {% if title %}
    <title>{{ title }} - ЛЮБИРАБОТАЙ</title>
    {% else %}
    <title>ЛЮБИРАБОТАЙ</title>
    {% endif %}
</head>
<body>
<div class="wrapper"> <!-- Обертка для flexbox -->
    <!-- Навигация -->

    {% if request.endpoint not in ['login', 'register'] %}
    <header class="navbar">

        <div class="container">
            <a href="#" class="toggle-theme-button" id="toggle-theme-button">
                <img src="{{ url_for('static', filename='img/switchtheme.svg') }}" alt="Toggle Theme">
            </a>
            {% if request.endpoint == 'preindex' %}
            <div class="logo">
                <a href="{{ url_for('preindex') }}">
                    <img id="dynamic-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo"
                         class="logoheader">
                </a>
            </div>
            <nav class="nav-links">
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}" class="intro-login-button">Войти</a>
                {% else %}
                <div class="user-menu">
                    <a href="{{ url_for('user', username=current_user.username) }}" class="user-profile-link">
                        <img src="{{ current_user.avatar(30) }}" alt="Avatar" class="user-avatar">
                        <span class="username">
                {% if current_user.first_name and current_user.last_name %}
                    {{ current_user.first_name }} {{ current_user.last_name }}
                {% elif current_user.first_name %}
                    {{ current_user.first_name }}
                {% else %}
                    {{ current_user.username }}
                {% endif %}
            </span>
                    </a>
                    <div class="dropdown-menu">
                        <p>{{ current_user.email }}</p>
                        <a href="{{ url_for('index') }}">Продолжить работу</a>
                        <a href="{{ url_for('edit_profile') }}">Настройки профиля</a>
                        <a href="{{ url_for('logout') }}">Выйти</a>
                    </div>
                </div>
                {% endif %}
            </nav>


            {% else %}
            <a href="{{ url_for('preindex') }}" style="text-decoration: none;">
                <h1 class="site-title">ЛЮБИРАБОТАЙ</h1>
            </a>
            <nav class="nav-links">
                <!--                {% if current_user.is_authenticated and current_user.has_role('admin') %}-->
                <!--                <a href="{{ url_for('admin_page') }}">Админ-панель</a>-->
                <!--                {% else %}-->
                <!--                <a href="{{ url_for('index') }}">Переключайся</a>-->
                <!--                {% endif %}-->
                {% if not current_user.is_authenticated %}
                <a href="#" class="toggle-theme-button">Переключить тему</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <div class="user-menu">
                    <a href="{{ url_for('user', username=current_user.username) }}" class="user-profile-link">
                        <img src="{{ current_user.avatar(30) }}" alt="Avatar" class="user-avatar">
                        <span class="username">
                             {% if current_user.first_name and current_user.last_name %}
                    {{ current_user.first_name }} {{ current_user.last_name }}
                {% elif current_user.first_name %}
                    {{ current_user.first_name }}
                {% else %}
                    {{ current_user.username }}
                {% endif %}
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <p>{{ current_user.email }}</p>
                        <a href="{{ url_for('edit_profile') }}">Настройки профиля</a>
                        {% if current_user.is_authenticated and current_user.has_role('admin') %}
                        <a href="{{ url_for('admin_page') }}">Админ-панель</a>
                        <a href="{{ url_for('show_logs') }}">Логи</a>
                        {% endif %}
                        <a href="{{ url_for('index') }}">Переключайся</a>
                        <a href="{{ url_for('logout') }}">Выйти</a>
                    </div>
                </div>
                {% endif %}
            </nav>
            {% endif %}
        </div>
    </header>
    {% endif %}


    <div class="alertcontent">
        <!-- Отображение всплывающих сообщений -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert-container" id="alert-container">
            <ul class="alert-list">
                {% for message in messages %}
                <li class="alert-item">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <!-- Основное содержимое страницы -->
    <main class="content">
        <!-- Блок для контента страницы -->
        {% block content %}{% endblock %}
    </main>

    {% if not is_login %} <!-- Футер -->
    <footer class="footer">
        <div class="logo-container">
            <img id="footer-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Footer logo" class="logo">
        </div>
    </footer>
    {% endif %}
</div>

<!-- Подключение скриптов -->
<script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
