{% extends "base.html" %}

{% block content %}
<section class="admin-dashboard">
    <!-- Блок для неавторизованных пользователей -->
    <div class="intro-screen">
        <div class="intro-text">
            <img id="switchh" src="{{ url_for('static', filename='img/switch.svg') }}" alt="Полюби Работать">
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <a href="{{ url_for('projects') }}" style="text-decoration: none;">

                <img src="{{ url_for('static', filename='img/workspace.svg') }}" alt="Рабочее пространство">
                <h3>Рабочее пространство</h3>
                <p>Это главная панель с используемыми функциями</p>
            </a>
        </div>

        <div class="card">
            <a href="{{ url_for('tasks') }}" style="text-decoration: none;">
                <img src="{{ url_for('static', filename='img/todo.svg') }}" alt="Задачи">
                <h3>Задачи</h3>
                <p style="text-decoration: none;">Всегда держите свои задачи перед глазами</p>
            </a>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/files.svg') }}" alt="Документы">
            <h3>Документы</h3>
            <p>Здесь можно создать любой вид документа и надежно его хранить</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/calendar.svg') }}" alt="Календарь">
            <h3>Календарь</h3>
            <p>Он поможет вам не забыть о важной дате или мероприятии</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/crm.svg') }}" alt="CRM">
            <h3>CRM</h3>
            <p>Воронки, сделки и контракты - ваш бизнес в ваших руках</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/guide.svg') }}" alt="Обучение сотрудников">
            <h3>Обучение сотрудников</h3>
            <p>Видео-уроки и реальные кейсы для адаптации новичков</p>
        </div>
    </div>
</section>
{% endblock %}
