{% extends "base.html" %}

{% block content %}
<section class="admin-dashboard">
    {% if current_user.is_authenticated and current_user.has_role('admin') %}
    <div class="admin-panel">
        <h1 class="panel-title">АДМИН-ПАНЕЛЬ</h1>
        <p class="panel-description">Добро пожаловать!</p>
        <div class="panel-links">
            <a href="{{ url_for('admin_projects') }}" class="admin-button btn-projects">Управление проектами</a>
            <a href="{{ url_for('admin_tasks') }}" class="admin-button btn-projects">Управление задачами</a>
            <a href="{{ url_for('admin_users') }}" class="admin-button btn-users">Управление пользователями</a>
            <a href="{{ url_for('admin_roles') }}" class="admin-button btn-projects">Управление ролями</a>
            <a href="{{ url_for('admin_project_stats') }}" class="admin-button btn-projects">Статистика проектов</a>
        </div>

        <!-- Кнопка для создания бэкапа -->
        <div class="backup-section">
            <a href="{{ url_for('backup_database') }}" class="backup-button">Создать бэкап данных</a>
        </div>

        {% if session.get('backup_file') %}
        <div class="backup-download-section">
            <a href="{{ url_for('download_backup') }}" class="backup-download-button">Скачать бэкап</a>
        </div>
        {% endif %}

        <!-- Загрузка бэкапа -->
        <div class="upload-section">
            <h3 class="upload-title">Загрузить бэкап</h3>
            <form action="{{ url_for('upload_backup') }}" method="post" enctype="multipart/form-data"
                  class="upload-form">
                <div class="file-upload-container">
                    <label for="file" class="file-upload-label">
                        <i class="fas fa-upload"></i> Выберите файл
                    </label>
                    <input type="file" id="file" name="file" class="file-upload-input" required/>
                </div>
                <button type="submit" class="upload-button">
                    <i class="fas fa-cloud-upload-alt"></i> Загрузить
                </button>
            </form>

        </div>
    </div>

    {% else %}

    <!-- Блок для неавторизованных пользователей -->
    <div class="intro-screen">
        <div class="intro-text">
            <img id="switchh" src="{{ url_for('static', filename='img/switch.svg') }}" alt="Полюби Работать">
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="{{ url_for('static', filename='img/workspace.svg') }}" alt="Рабочее пространство">
            <h3>Рабочее пространство</h3>
            <p>Это главная панель с используемыми функциями</p>
        </div>
        <a href="{{ url_for('tasks') }}" style="text-decoration: none;">
            <div class="card">
                <img src="{{ url_for('static', filename='img/todo.svg') }}" alt="Задачи">
                <h3>Задачи</h3>
                <p style="text-decoration: none;">Всегда держите свои задачи перед глазами</p>
            </div>
        </a>
        <div class="card">
            <img src="{{ url_for('static', filename='img/files.svg') }}" alt="Документы">
            <h3>Документы</h3>
            <p>Здесь можно создать любой вид документа и надежно его хранить</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/calendar.svg') }}" alt="Календарь">
            <h3>Календарь</h3>
            <p>Он поможет вам не забыть о важной дате или мероприятии</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/crm.svg') }}" alt="CRM">
            <h3>CRM</h3>
            <p>Воронки, сделки и контракты - ваш бизнес в ваших руках</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/guide.svg') }}" alt="Обучение сотрудников">
            <h3>Обучение сотрудников</h3>
            <p>Видео-уроки и реальные кейсы для адаптации новичков</p>
        </div>
    </div>

    {% endif %}
</section>
{% endblock %}
