{% extends "base.html" %}
{% block content %}

<div class="login-container">

     <a href="#" class="toggle-theme-button" id="toggle-theme-button">
    <img src="{{ url_for('static', filename='img/switchtheme.svg') }}" alt="Toggle Theme">
</a>
    <div class="login-form">
        <!-- Логотип -->
        <div class="logo-container">
            <img id="dynamic-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" class="logo">
        </div>

        <!-- Заголовок "Вход" вынесен из контейнера логотипа -->
        <h2 class="login-title">Вход</h2>


        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Электронная почта или логин") }}
                {% for error in form.username.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="input-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Пароль") }}
                {% for error in form.password.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="remember-me">
                {{ form.remember_me(class="checkbox") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <button type="submit" class="btn">Войти</button>
            <p class="register-link">
                <span>Вы новый пользователь?</span>
                <a href="{{ url_for('register') }}">Зарегистрируйтесь здесь</a>
            </p>
        </form>
    </div>
</div>



{% endblock %}


